$navbar-default-bg: #00447c;
$light-orange: #ff8c00;
$navbar-default-color: $light-orange;

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
    background-color: #990000;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
    margin-right: 10px;
    font-size: 2em;
    color: #fff;
    //text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
}
#logo:hover {
    color:white;
    text-decoration: none;
}

body {
    padding-top: 89px;
}
.nav_item {
    margin-left: 25px;
    float: left;
    margin-top: 20px;
}
.center {
    text-align: center;
}

h1,h2,h3,h4 {
    line-height:1;
}
h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align:center;
}
h2 {
    font-size: 1.2em;
    margin-bottom:20px;
    text-align: center;
    font-weight: normal;
    color: #777;
}
.left {
    text-align: left;
    letter-spacing: .5px;
}
.coach_info {
    margin-top: 10px;
    
}
.gravatar {
    border-radius: 10px;
}
.well {
    background-color: #EDEDED;
}
input, textarea, select, .uneditable-input {
    border: 1px solid #d2d2d2;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 15px;
}

input {
    height: auto !important;
}
span.picture {
    margin-top: 10px;
    input {
        border: 0;
    }
}
.show_topic_img {
    margin: 10px;
}
.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #5c5c5c;
    border-right: 1px solid #eee;
    padding-top: 45px;
}
.main {
    padding: 20px;
}
.rb-nav {
    color: #ff8c00;
}